<style>
 
  :root {
  --surface-color:black;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: 300px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  height:70px;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: 0.7cm;
  color:white;
}
button {
  background-color: #f4511e;
  border: none;
  color:black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  align-items: center;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button-container{
  justify-content: center;
  margin-left:25%;
}
.card1 {
    display: flex;
    flex-wrap: wrap;

    background-color:black;
  }
  
  .card1 > div {
    margin:15px;
    height:400px;
    width: 30%;
   background-color:black;
  }
  h1{
    color:red;
  }
.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color:red;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
} 
.city__description {
  
  color:red;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
} 
</style>
  <% layout('layouts/boilerplate')%>
<div id="clusterMap"></div>
<div  class=heading ><h1>All Campsites</h1></div>
  <div class="card1" >
  <% for (let campground of campgrounds){%>
  <div class="card">
     
    <li>
      <a href="" class="card">
        <img src="<%=campground.images[0].url%>" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
            <img class="card__thumb" src="<%=campground.images[0].url%>" alt="" />
            <div class="card__header-text">
              <h3 class="card__title"></h3>            
              <span class="card__status"><%= campground.title%></span>
              <p class="city__description"><%= campground.location %></p>
            </div>
          </div>
          <div>
          <p class="card__description"><%= campground.description %></p>
          <div class="button-container">
          <a href="/campgrounds/<%=campground._id%>"> <button >View <%=campground.title%></button> </a>
          </div>
          </div>
        </div>
      </a>      
    </li>
    <li>       
              
 
  </div>
  <% }%>
</div>
<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>